<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Faça seu Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm">
    <ion-list>
      <ion-item>
        <ion-input formControlName="email" labelPlacement="floating" label= "Email:" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" labelPlacement="floating" label= "Senha:" type="password"></ion-input>
      </ion-item>
    
    <ion-button [disabled]="loginForm.invalid" (click)="logar()">Entrar</ion-button>

    </ion-list>
  </form>
</ion-content>