<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Faça seu Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-page">
  <div class="login-container">
     <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Faça seu Login!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm">

          <ion-item>
            <ion-input formControlName="email" labelPlacement="floating" label= "Email:" type="email"></ion-input>
            <p>
            @if(hasError('email', 'required')){
              O campo email é obrigatório.
            }
            @if(hasError('email', 'email')){
              Digite um email válido.
            }
            </p>
          </ion-item>

          <ion-item>
            <ion-input formControlName="password" labelPlacement="floating" label= "Senha:" type="password"></ion-input>
            <p>
            @if(hasError('password', 'required')){
              O campo senha é obrigatório.
            }
            </p>
          </ion-item>
          <div class="envolver_botao">
            <ion-button [disabled]="loginForm.invalid" (click)="logar()">Entrar</ion-button>
          </div>
          
        </form>

        <div class="ion-text-center ion-margin-top">
          <a [routerLink]="['new']">Não tem uma conta? Crie uma agora!</a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>